.form {
  padding: 20px;
}

.text {
  font-size: 20px;
}

.roomButtons {
  display: flex;
  justify-content: space-evenly;
}

.dialog {
  justify-content: space-around !important;
  padding-bottom: 20px;
}

.dialogButton {
  background-color: #3081b3 !important;
}
