<div class="player">
    <poker-card
            [cardValue]="player!.cardValue"
            [pickedCard]="player!.pickedCard"
            [isMin]="player!.isMin"
            [isMax]="player!.isMax"
            [inGame]="inGame"
            [currentUser]="currentUser"
            [onMinMaxHighlight]="onMinMaxHighlight"
            [connected]="player!.connected"
    ></poker-card>
    <div class="name" [class.unvoted]="!inGame && !player!.pickedCard || inGame && !player!.connected">{{ player!.name }}</div>
    <div *ngIf="inGame && !player!.connected" class="disconnected-icon">
        <img class="icon" ngSrc="assets/signal_disconnected.svg" height="24" width="24" alt="disconnected">
    </div>
</div>